<!DOCTYPE html>
<html>
  <head>
    <title>ToiletSaver</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Nanum+Myeongjo" rel="stylesheet">
  </head>

  <body class="d-flex flex-column align-items-center">
    <%= yield %>
  </body>
</html>
